@media screen and (max-width: 860px) {
    .header-text-content {
        /* border: 3px solid; */
        min-width: 100%;
    }

    .nav-desktop {
        display: none;
    }

    .header-banner-section {
        padding: 150px 0 30px 0;
        background-position: center;
    }

    .btn-white {
        color: var(--main-color);
        background: none;
        border: 2px solid var(--main-color);
    }


    .backdrop {
        background: var(--light-text-color);
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
    }

    .show-backdrop {
        display: block;
    }

    .nav-mobile {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 10px 20px;
        background: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-logo,
    .hamburger {
        color: var(--white-color);
        font-size: 28px;
        padding: 4px;
    }

    .mobile-logo {
        border: 2px solid var(--white-color);
        margin-right: 10px;
    }

    .mobile-brand {
        display: flex;
        align-items: center;
    }

    .brand-name {
        font-size: 24px;
        font-weight: 600;
        color: var(--white-color);
    }

    .hamburger {
        height: 25px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 6;
    }

    .menu {
        height: 3px;
        width: 100%;
        background: var(--white-color);
        position: relative;
    }

    .menu::before {
        content: "";
        width: 100%;
        height: 3px;
        background: var(--white-color);
        position: absolute;
        transform: translateY(-10px);
    }

    .menu::after {
        content: "";
        width: 100%;
        height: 3px;
        background: var(--white-color);
        position: absolute;
        transform: translateY(10px);
    }

    .showburger .menu {
        background: transparent;
    }

    .showburger .menu::before {
        transform: translateY(0) rotate(45deg);
        background: var(--main-color);
    }

    .showburger .menu::after {
        transform: translateY(0) rotate(-45deg);
        background: var(--main-color);

    }


    .mobile-link-holder {
        transform: translateX(200%);
        transition: all 0.7s;
        position: fixed;
        background: var(--main-color);
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        text-decoration: none;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -o-transition: all 0.7s;
    }

    .show-mobile-link-holder {
        transform: translateX(0);
        position: fixed;
        background: var(--main-color);
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        text-decoration: none;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .mobile-link-holder ul {
        list-style: none;
    }

    .mobile-link-holder a {
        padding: 22px 0;
        padding-left: 20px;
        display: block;
        text-decoration: none;
        color: var(--white-color);
    }

    .mobile-link-holder button {
        margin-left: 20px;
        background: transparent;
        color: var(--white-color);
        border: 2px solid var(--white-color);
    }

    .mobile-link-holder .mobile-active-link {
        background: var(--white-color);
        color: var(--main-color);
    }

    /* second-section starts here-  */
    .aboutus-section {
        width: 90%;
        margin: 0 auto;
    }

    .aboutus-container {
        margin: 0 auto;
        padding: 20px 0;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .aboutus-image-holder {
        width: 48%;
        min-width: 95%;
    }

    .aboutus-text-holder {
        min-width: 100%;
        margin: 20px 0;
    }
    /* second-section starts here-  */


    .explore-foods-card {
        display: inline;
        width: 32%;
        min-width: 300px;
        margin: 20px 0;
    }

    .faq-items {
        padding: 20px 0;
        width: 100%;
    }

    .cta-showcase {
        flex-direction: column;
        height: 200px;
    }
    .cta-showcase h2 {
        width: 70%;
        text-align: center;
    }

    .cta-notice-heading {
        max-width: 70vw;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }
    .cta-notice-input input{
        width: 180px;
    }
    .cta-notice-input input:hover {
        width: 250px;
        border: 2px solid var(--main-color);
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}