
.second-section {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}
.second-section-container{
    display: flex;
    justify-content: space-between;
}
.second-section-image {
    width: 48%;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.second-section-right {
    width: 48%;
}

.second-section-right-text {
    margin: 20px 0;
}

/* second section stops here  */

/* third section starts here  */
.special-head {
    font-size: 28px;
    font-weight: 600;
    color: var(--main-color);
    border-left: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    padding: 10px;
    background: var(--light-grey-color);
}

.third-section {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
}

.third-section-left {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.third-section-left-text {
    margin: 20px 0;
}

.third-section-left-list ul {
    list-style: none;
    margin-bottom: 20px;
}

.third-section-left-list i {
    font-size: 24px;
    color: var(--main-color);
    margin-right: 30px;
}

.third-section-image {
    border-radius: 30px;
    width: 48%;
    height: 350px;
    object-fit: cover;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* third section starts here  */
/* fourth section starts here  */

.fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    background: var(--gradient-50),
    url('./img/about3.jpg');
    background-position: bottom right;
    background-size: cover;
}

.fourth-section-heading {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    width: max-content;
}

.fourth-section-text {
    margin: 20px 0;
}

.play-button {
    margin-top: 20px;
    border: 2px solid var(--white-color);
    background: var(--main-color);
    color: var(--white-color);
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.play-button i {
    font-size: 30px;

}

/* fourth section stops here  */

/* fifth section starts here  */
.fifth-section {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    border-bottom: 80px solid var(--main-color);
}

.fifth-section-heading {
    text-align: center;
    font-size: 24px;
    color: var(--main-color);
    font-weight: 600;
}

.fifth-section-text {
    text-align: center;
    margin: 20px;
}

.fifth-section-food-items {
    display: flex;
    justify-content: space-around;
}

.food-item {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}

.food-image {
    height: 250px;
    width: 320px;
    background: var(--gradient);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.food-title,
.food-cost {
    font-weight: 700;
    padding: 10px 0;
}



/* fifth section stops here  */

/* frequently asked questions starts here  */

.frequently-asked-question {
    padding-top: 50px;
    width: 90%;
    margin-inline: auto;
}

.faqs {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: space-between;
    padding: 20px 0;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /* padding: 30px 0; */
    /* padding-right: 50px; */
}

.frequently-asked-question-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.faq-head {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}

.faq-head i {
    color: var(--main-color);
    margin-right: 20px;
}

.faq-text {
    width: 100%;
}


/* frequently asked questions starts here  */

/* bakers with passion section */

.bakers-with-passion {
    margin: 20px auto;
    width: 100%;
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0;
}

.baked-fresh {
    font-size: 30px;
    font-weight: 700px;
    color: var(--white-color);
}

/* bakers with passion section */

/* subscribe section starts here  */
.subscribe {
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-heading {
    width: 600px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe-text {
    margin-bottom: 20px;
    font-size: 16px;
}

.subscribe-input {
    position: relative;
}

.subscribe-input input {
    padding: 15px 0;
    padding-left: 5px;
    width: 300px;
    border: 2px solid var(--main-color);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.subscribe-input input:hover {
    padding: 15px 0;
    padding-left: 5px;
    width: 400px;
    border: 2px solid var(--main-color);

}

.subscribe-button {
    height: 100%;
    position: absolute;
    right: 0;
    background: var(--main-color);
    padding: 15px 15px;
    color: var(--white-color);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

/* subscribe section stops here  */

/* footer section starts here */

footer {
    width: 100%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
}

.footer-icons ul {
    padding: 30px 0;
    
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-icons li {
    display: flex;
    align-items: center;
    border: 2px solid var(--white-color);
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* footer section starts here */